name: Clear all commits and workflow runs

on:
  workflow_dispatch:

jobs:
  del_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 0

  clear-repo:
    runs-on: ubuntu-latest
    needs: [del_runs]
    steps:
      - name: Checkout Main Branch
        uses: actions/checkout@master
        with:
          ref: main
      - name: Set Git User
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Clear Main Repo
        run: |
          git checkout --orphan temp_main
          git add -A
          git commit -am "Initial commit"
          git branch -D main
          git branch -m main
          git push -f origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}